@media (max-width: 1240px) {
    body {
        background-image: url("../img/bg-laptop.svg");
    }
    .container {
        --width: 880px;
    }
    .hero {
        padding-bottom: 30px;
    }
    .hero__title {
       font-size: 64px;
        max-width: 680px;
    }
    .hero__cups {
        padding-top: 216px;
    }
    .hero__cup_orange {
        margin-top: -50px;
    }
    .decor__img_01 {
        width: 131px;
        height: 125px;
        top: 25%;
        left: 1%;
        animation: flyingLaptop01 2s ease-in-out;
    }
    .decor__img_02 {
        width: 122px;
        height: 99px;
    }
    .decor__img_03 {
        width: 34px;
        height: 30px;
        bottom: 44%;
        left: 37%;
        animation: flyingLaptop03 2s ease-in-out;
    }
    .decor__img_04 {
        width: 34px;
        height: 30px;
        top: 35%;
        right: 1%;
        animation: flyingLaptop04 2s ease-in-out;
    }
    .decor__img_05 {
        width: 61px;
        height: 64px;
        bottom: -2%;
        left: 29%;
        animation: flyingLaptop05 2s ease-in-out;
    }
    .decor__img_06 {
        width: 129px;
        height: 124px;
        bottom: -5%;
        right: -3%;
        animation: flyingLaptop06 2s ease-in-out;
    }
    .goods__list {
        grid-template-columns: repeat(3, 280px);
    }
}

@media (max-width: 940px) {
    body {
        background-image: url("../img/bg-tablet.svg");
        font-size: 14px;
    }
    .container {
        --width: 608px;
        --padding: 15px;
    }
    .btn {
        padding: 8px 20px;
        box-shadow: 0 2px 10px 0 #FA5A5A;
    }
    .header {
        padding: 34px 0 20px;
    }
    .header__btns {
        gap: 24px;
    }
    .hero {
        padding-bottom: 46px;
    }
    .hero__title {
        font-size: 44px;
        max-width: 462px;
    }
    .hero__cups {
        gap: 13px;
        padding-top: 112px;
    }
    .hero__cup {
        border-radius: 12px;
    }
    .hero__cup_orange {
        margin-top: -34px;
    }
    .hero__img {
        bottom: 20px;
        width: 60%;
    }
    .decor__img_01 {
        width: 76px;
        height: 73px;
        top: 21%;
        left: -2%;
        animation: flyingTablet01 2s ease-in-out;
    }
    .decor__img_02 {
        width: 72px;
        height: 58px;
    }
    .decor__img_03 {
        width: 25px;
        height: 23px;
        bottom: 49%;
        left: 36%;
        animation: flyingTablet03 2s ease-in-out;
    }
    .decor__img_04 {
        width: 22px;
        height: 19px;
        top: 31%;
        right: -1%;
        animation: flyingTablet04 2s ease-in-out;
    }
    .decor__img_05 {
        width: 41px;
        height: 44px;
        left: 28%;
        animation: flyingTablet05 2s ease-in-out;
    }
    .decor__img_06 {
        width: 96px;
        height: 93px;
        bottom: -11%;
        right: -5%;
        animation: flyingTablet06 2s ease-in-out;
    }
    .goods {
        padding: 40px 0 50px;
    }
    .goods__title {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .goods__list {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 16px;
    }
    .cocktail {
        border-radius: 12px;
        padding: 8px;
    }
    .cocktail__img {
        border-radius: 12px;
        margin-bottom: 8px;
    }
    .cocktail__content {
        padding: 0;
    }
    .cocktail__text {
        margin-bottom: 16px;
        row-gap: 8px;
    }
    .cocktail__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .cocktail__price {
        text-align: left;
    }
    .cocktail__size {
        font-size: 10px;
        align-self: flex-end;
    }
    .footer {
        padding-bottom: 24px;
    }
    .footer__container {
        gap: 24px;
    }
    .footer__developer-item {
        margin-bottom: 6px;
    }
}

@media (max-width: 640px) {
    body {
        background-image: url("../img/bg-mobile.svg");
    }
    .header {
        padding: 31px 0;
    }
    .header__logo {
        width: 120px;
    }
    .header__btn {
        display: none;
    }
    .hero {
        padding-top: 0;
        padding-bottom: 121px;
    }
    .hero__title {
        font-size: 36px;
    }
    .hero__cups {
        display: none;
    }
    .decor__img_01 {
        top: 98%;
        left: 3%;
        animation: flyingMobile01 2s ease-in-out;
    }
    .decor__img_02 {
        width: 62px;
        height: 50px;
        top: 78%;
        right: 0;
        animation: flyingMobile02 2s ease-in-out;
    }
    .decor__img_03 {
        bottom: -30%;
        left: 56%;
        animation: flyingMobile03 2s ease-in-out;
    }
    .decor__img_04 {
        display: none;
    }
    .decor__img_05 {
        display: none;
    }
    .decor__img_06 {
       display: none;
    }
    .goods {
        padding: 40px 0 30px;
    }
    .goods__list {
        gap: 10px;
    }
    .footer__container {
        grid-template-areas: 'logo' 'copyright' 'developer';
        gap: 20px;
    }
    .footer__logo {
        width: 120px;
    }
    .footer__developer {
        justify-self: start;
    }
}
