/* mulish-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*---------- Базовые стили ----------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Mulish, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    background-color: #F8E8E2;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    color: #000;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p,
fieldset {
    margin: 0;
}

/*---------- Основные стили ----------*/
.container {
    --width: 1180px;
    --padding: 30px;

    max-width: calc(var(--width) + (var(--padding) * 2));
    padding: 0 var(--padding);
    margin: 0 auto;
}

.btn {
    color: #FFF;
    padding: 12px 28px;
    border-radius: 40px;
    background-color: #F44;
    box-shadow: 0 4px 20px 0 #FA5A5A;
}

.text-red {
    color: #F44;
}

/*---------- Header start ----------*/
.header {
    padding: 36px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__btn-order {
    width: 24px;
    height: 24px;
}

.header__btn {
    display: block;
}
/*---------- Header end ----------*/

/*---------- Hero start ----------*/
.hero {
    padding: 30px 0 85px;
}

.hero__title {
    font-size: 84px;
    font-weight: 900;
    max-width: 880px;
}

.hero__cups {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-top: 270px;
}

.hero__cup {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 24px;
}

.hero__cup_pink {
    background-color: #FF196C;
}

.hero__cup_orange {
    background-color: #FFB72A;
    align-self: flex-start;
    margin-top: -70px;
}

.hero__cup_green {
    background-color: #34B905;
}

.hero__img {
    position: absolute;
    width: 55%;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
}
/*---------- Hero end ----------*/

/*---------- Goods start ----------*/
.goods {
    padding: 60px 0 70px;
}

.goods__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}

.goods__list {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 20px;
}

/*---------- Cocktail start ----------*/
.cocktail {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: #FFF;
    padding: 12px;
    height: 100%;
}

.cocktail__img {
    width: 100%;
    border-radius: 24px;
}

.cocktail__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.cocktail__text {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 10px;
    gap: 2px 5px;
}

.cocktail__title {
    grid-row: 1/3;
    font-size: inherit;
    font-weight: 400;
}

.cocktail__price {
    font-weight: 600;
    text-align: end;
}

.cocktail__size {
    flex: 0 0 100%;
    color: #C1C1C1;
    font-size: 12px;
    font-weight: 600;
    text-align: end;
}

.cocktail__btn {
    margin-top: auto;
}
/*---------- Cocktail end ----------*/

/*---------- Goods end ----------*/

/*---------- Footer start ----------*/
.footer {
    padding: 30px 0 32px;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-template-areas:
        'logo .'
        'copyright developer';
}

.footer__logo {
    grid-area: logo;
}

.footer__copyright {
    grid-area: copyright;
}

.footer__developer {
    grid-area: developer;
    justify-self: end;
    min-width: 230px;
}

.footer__developer-item {
    margin-bottom: 10px;
}

.footer__developer-item:last-child {
    margin-bottom: 0;
}
/*---------- Footer end ----------*/

/*---------- Modal start ----------*/
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    padding: 20px;
    overflow-y: auto;
    display: none;
}

.modal__main {
    margin: auto;
    cursor: default;
    width: 100%;
    max-width: 780px;
}

.order {
    border-radius: 24px;
    background-color: #F8E8E2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 40px 60px;
}

.order__title {
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 40px;
}

.order__list {
    margin-bottom: 40px;

}

.order__item {
    border-top: 1px solid #fff;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 70px 1fr min-content;
    gap: 12px;
    grid-template-areas:
        "image info delete"
        "image info price";
}

.order__item:last-child {
    border-bottom: 1px solid #fff;
}

.order__img {
    grid-area: image;
    max-width: 100%;
    border-radius: 8px;
}

.order__info {
    grid-area: info;
}

.order__name {
    font-size: inherit;
    font-weight: 400;
    margin-bottom: 8px;
}

.order__topping-list {

}

.order__topping-item {
    margin-bottom: 8px;
    color: #D5B4A8;
    font-size: 12px;
    font-weight: 600;
}

.order__topping-item:last-child {
    margin-bottom: 0;
}

.order__item-delete {
    grid-area: delete;
    width: 24px;
    height: 24px;
    background-image: url("../img/delete.svg");
    justify-self: end;
}

.order__item-price {
    grid-area: price;
    justify-self: end;
    align-self: end;
}

.order__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.order__price-title {
    font-weight: 600;
}

.order__total-price {
    font-weight: 600;
}

.order__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 20px;
}

.order__label {
    width: 100%;
}

.order__input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
}

.order__submit {
    justify-self: end;
    grid-column: 2/3;
}
/*---------- Modal end ----------*/



